/dist

cube/swiss/build/
cube/swiss/dist/

cube/swiss/source/patches/*.s
cube/patches/disassembly

cube/actionreplay/SDLOADER.BIN

pc/usbgecko/swissserver
pc/usbgecko/swissserver.exe
pc/usbgecko/core
pc/usbgecko/core.*

*.dol
*.elf
*.o
*.d
*.map
*.gcm
/cube/swiss/source/devices/memcard/deviceHandler-CARD.c.1
/cube/swiss/.idea/encodings.xml
/cube/swiss/.idea/misc.xml
/cube/swiss/.idea/modules.xml
/cube/swiss/.idea/swiss.iml
/cube/swiss/.idea/workspace.xml
/cube/swiss/CMakeLists.txt
/cube/swiss/movetoSD.bat
/cube/swiss/source/lang/Untitled-1
/cube/swiss/source/lang/Untitled-2
/cube/swiss/source/lang/fr_FR.mo
/cube/swiss/source/lang/fr_FR.po
/cube/swiss/source/lang/monsite.pot
